<div class="w3-row">
<div class='w3-col m6 l6 w3-left-align"'>
<form class="w3-container w3-left-align">

  <h2 class="w3-text-blue">Create a new group</h2>

  <label class="w3-text-blue"><b>Group Name</b></label>
  <input class="w3-input w3-border" id="userGroupName" type="text"></p>

  <label class="w3-text-blue"><b>Email pattern</b></label>
  <input class="w3-input w3-border" id="groupEmailPattern" type="text"></p>

  <label class="w3-text-blue"><b>Included tenants</b></label>
  <br/>
      <button id="selectAllTenants">select all</button>
      <button id="unselectAllTenants">unselect all</button>
  <br/>

{{#each tenants}}
      <input class="w3-check tenantFilterCheckBox" id='{{this.name}}SearchSelect' type="checkbox">
      <label class="w3-text-blue">{{this.name}}</label>
      <br/>
{{/each}}

  <label class="w3-text-yellow"><b>PROPERTIES (AND)</b></label>
  <BR/>
      <input class="w3-check" id='providerAccountSearchSelect' type="checkbox" checked="checked">
      <label class="w3-text-deep-orange">Provider Accounts</label>

      <P>

      <label class='w3-text-yellow'>KeyCloak</label>
      <BR/>

      <input class="w3-check" id='otpNotEnabledSelect' type="checkbox" checked="checked">
      <label class="w3-text-deep-orange">OTP Not Enabled</label>

      <br/>
      <input class="w3-check" id='keyCloakAccountSelect' type="checkbox" checked='checked'>
      <label class="w3-text-deep-orange">KeyCloak account</label>
  <br/><p style='padding-top:15px'>
  <div class="w3-row" style='margin:15,15,15,15'>
      <br/>
  <button class="w3-btn w3-blue w3-block" id="createNewGroup" >create</button>
  </div>
</p>
</form>
</div>

<div class="w3-col m6 l6 w3-left-align">
  <form class="w3-container">
    <h2 class="w3-text-blue">Work with an existing group</h2>

    <table class="w3-table w3-bordered" id="userFormGroupList">
      <thead>
      <tr class="w3-text-black">
        <th>Group</th>
        <th>Load</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
    {{#each definedUserGroups}}
      <tr>
       <td>
      <a href="#" class="w3-left-align w3-hover-black w3-text-green"> 
      {{this}}
    </a>
    </td>
    <td><i class="fa fa-eye w3-large w3-text-black"></i></td>
    <td><i class="fa fa-gears  w3-large w3-text-black"></i></td>
    <td><i class="fa fa-trash w3-large w3-text-black"></i></td>
    </tr>
    {{/each}}
    </tbody>
    </table>
  </form>
<br/>

</div>
</div>

<script>
$('#selectAllTenants').click(function(event){
  event.preventDefault()
  $('.tenantFilterCheckBox').prop('checked', true)
})

$('#unSelectAllTenants').click(function(event){
  event.preventDefault()
  $('.tenantFilterCheckBox').prop('checked', false)
})



</script>

