<table id="userListView" class="w3-table display">
          <thead>
          <tr>
            <th> email </th>
            <th> email verified </th>
            <th> otp enabled</th>
            <th> enforce otp <br/><input class="w3-check" type="checkbox"> <label>select all</label></th>
          </tr>
          </thead>
          <tbody id="searchResults" style='color:black'>

          </tbody>
          <tfooter>
            <tr><td><button class="w3-btn w3-blue">enforce otp for selected users</button></td></tr>
          </tfooter>
</table>

