<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <div class="w3-container">
        <div class ='w3-row'>
          <div class='w3-col w3-container m4 l4'>
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <form class="w3-container w3-card-4">
            <h2 class="w3-text-blue">Find Users</h2>
            <label class="w3-text-blue"><b>email</b></label>
            <input class="w3-input w3-border" id="userEmail" type="text"></p>
            <button class="w3-btn w3-blue" id="searchUser" >find</button></p>
          </form>
          </div>

          <div class='w3-col w3-container m8 l8'>
          <table class="w3-table">
          <thead>
          <tr>
            <th> email </th>
            <th> email verified </th>
            <th> otp enabled</th>
            <th> enforce otp <br/><input class="w3-check" type="checkbox"> <label>select all</label></th>
          </tr>
          </thead>
          <tbody id="searchResults" style='color:black'>

          </tbody>
          <tfooter>
            <tr><td><button class="w3-btn w3-blue">enforce otp for selected users</button></td></tr>
          </tfooter>
        </table>
        </div>
        </div>
      </div>
    </div>
  </div>
