<div class="w3-content w3-justify w3-padding-64" id="userMgtSection">
<form class='w3-container w3-card-4 w3-light-grey'>
		<div class='w3-row'>
			<div class='w3-col m6 l6'>
			<h3>Selected Users</h3>
			<p>
				<input class="w3-check" type="checkbox">
				<label>Enforce OTP</label>
			<p>
			</p>

			</div>
			<div class='w3-col m6 l6'>
			<br/>
			<button onclick="myFunction('Demo1')" class="w3-btn w3-block w3-black w3-left-align">view selected users</button>
			<div id="Demo1" class="w3-container w3-hide">
				<h4>Section 1</h4>
				<p id="individuallySelectedUsers">

				</p>
			</div>			
			<button class='w3-button w3-block w3-yellow' id="userAction">GO!!!</button>
		</div>
		
		</form>
		</div>

		<div class="w3-container w3-padding-64">
		<table class='w3-table w3-striped w3-bordered' id="selectedUsersList">
			<thead> 
			<tr>

				<th>email</th>
				<th>keyCloak account</th>
				<th>otp enabled</th>
				<th>otp completed</th>

			</tr>
			</thead>
				<tbody id="userSelectionTable">

				</tbody>
		</table>
	</div>
</div>

<script>

	function myFunction(id) {
  		var x = document.getElementById(id);
  		if (x.className.indexOf("w3-show") == -1) {
   			x.className += " w3-show";
  		} 
		else { 
    		x.className = x.className.replace(" w3-show", "");
  		}
	}


	$('#userAction').on('click', function(){
		alert('dsa')
	})
	

  
</script>


