<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4">

      <header class="w3-container w3-blue">
        <h1>users</h1>
      </header>


      <div class="w3-container">
        <div class ='w3-row'>

          <div class='w3-col w3-container m4 l4'>
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          {{>userSearchForm}}
          </div>

          <div class='w3-col w3-container m8 l8'>
          {{>userListView}}
        </div>
        </div>
      </div>
    </div>
  </div>
