<!DOCTYPE html>
<html lang="en">
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <style>
      html {
        scroll-behavior: smooth;
        }
    	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>


  <script>
    
  </script>
  <body class='w3-light-grey'>


    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
          <i class="fa fa-bars"></i>  Menu
        </button>
		    <span class="w3-bar-item w3-right" ID='appStatus'>runningTime</span>
    </div>

    {{>navBottom}}
<!-- Sidebar/menu -->
<nav    class="w3-sidebar w3-collapse w3-black w3-animate-left w3-center" 
        style="z-index:3;width:150px;" id="mySidebar">


  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>TENANTS</p>
  </a>

  <a  ID="manageUsersBtn" onclick="document.getElementById('userGroupsModal').style.display='block'" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-users w3-xxlarge"></i>
    <p>GROUPS</p>
  </a>
  {{> userMgtModal}}

  <a  href="#userMgtSection" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>SELECTED</p>
  </a>

  <a  class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-cog w3-xxlarge"></i>
    <p>SETTINGS</p>
  </a>

  <center>
    <div id="loadingIndicator" style="display:none">
    <p>loading</p>
    <div class="loader"></div>
    </div>
  </center>

  
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
 title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:160px;margin-top:43px;margin-right:10px">
    {{{body}}}
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");
// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");
// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}
// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/bundle.js"></script>
  </body>
</html>

