<span class="w3-bar-item w3-left">{{{title}}}</span>

<div class="w3-container" ID="tenantCards">
<p>h</p>
<!--
<div class="w3-card-4">
<header class="w3-container w3-blue" id="CRA">
  <h3>Header</h3>
</header>

<div class="w3-container">
  <p>Lorem ipsum...</p>
</div>

<footer class="w3-container w3-blue">
  <h5>Footer</h5>
</footer>

</div>
-->
</div>
