
  <label class="groupCreationLabel"><b>Included tenants</b></label>
  <br/>
      <button id="selectAllTenants">select all</button>
      <button id="unselectAllTenants">unselect all</button>
  <br/>

 <table id="tenantSelectionTable" style="padding-top:20px; padding-bottom:20px">
    
  </table>