
  <label class="groupCreationLabel"><b>Included tenants</b></label>
  <br/>
      <button id="selectAllTenants">select all</button>
      <button id="unselectAllTenants">unselect all</button>
  <br/>

 <table id="groupsTenantsSelectionTable" class="display" style="color:black">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>  
    <tbody>
      <tr><td>da</td></tr>
    </tbody> 
  </table>