
:root {
  --mainColor: rgb(0, 52, 223);
  --formBackground: rgb(32, 88, 88);
  --comp1: #1982C4;

}
html {
  scroll-behavior: smooth;
  }
html,body,h1,h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif
}

#userFormGroupList{
  width:100%
}
.apiCanModal{
  background-color: var(--formBackground);
}

.groupCreationLabel{
  color: var(--mainColor);
}

.tenant-card {
  border: black 1 px;
  background-color: var(--formBackground);
  height:50px; 
  color:white;
  font-family: "Raleway", sans-serif;
  font-size:1.2em; 
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .tenantSelection{
    width:120px; 
    text-align:right 
  }

#leftNav {
  background-color: black;
  width:250px; 
  color:white;
  text-decoration:bold;
  font-size: 1em;
}
.leftNavItem:hover{
  background-color:yellow !important;
}
.leftNavIcon {
  color: white
}
.groupLeftNavLink a {
  color: var(--mainColor);
  text-decoration: none;
  font-size:1.2em; 
}

.groupCmd {
    cursor: pointer
 }

.settingsItem {
  cursor: pointer
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }