
  <!-- Sidebar/menu -->
<nav    class="w3-sidebar w3-small w3-hide-small w3-hide-medium w3-animate-left w3-center" 
        id="leftNav">
<a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity w3-hover-black leftNavItem">
    <i class="fa fa-home w3-xxlarge leftNavIcon"></i>
    <p>TENANTS</p>
  </a>
  <a  onclick=""
	    class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-check w3-xxlarge leftNavIcon"></i>
      <p>TEST</p>
  </a>

 <a href="/logs" 
	    class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-laptop w3-xxlarge leftNavIcon"></i>
      <p>LOGS</p>
  </a>

<a  onclick="document.getElementById('appSettingsModal').style.display='block'"
	    class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-cog w3-xxlarge leftNavIcon"></i>
      <p>SETTINGS</p>
  </a>
  {{>appSettingsModal}}
  <hr  class="w3-bar-item"/>

  <h2>Groups</h2>
  <a  ID="manageUsersBtn" onclick="document.getElementById('userGroupsModal').style.display='block'" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black ">
    <i class="fa fa-users w3-xxlarge leftNavIcon"></i>
    <p>CREATE</p>
  </a>
  {{> userMgtModal}}

  <a  href="#userMgtSection" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-eye w3-xxlarge leftNavIcon"></i>
    <p>SELECTED</p>
  </a>


  {{> leftNav/users}}

<!--  <hr  class="w3-bar-item"/>
  <h2>API Store</h2>
   <a  href="" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-code w3-xxlarge leftNavIcon"></i>
    <p>TEST</p>
  </a>
-->
  {{>leftNav/storeAdminSection}}
  <hr  class="w3-bar-item"/>
  <h2>APIs</h2>
  <a  href="" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-code w3-xxlarge leftNavIcon"></i>
    <p>ACTIVE</p>
  </a>
  <a  href="" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-superpowers w3-xxlarge leftNavIcon"></i>
    <p>TEST</p>
  </a>
  <a  href="" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-id-card w3-xxlarge leftNavIcon"></i>
    <p>META</p>
  </a>
   <a  href="" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-pie-chart w3-xxlarge leftNavIcon"></i>
    <p>STATS</p>
  </a>
    
  {{>leftNav/userGroupList}}  
  <center>
    <div id="loadingIndicator" style="display:none">
    <p>loading</p>
    <div class="loader"></div>
    </div>
  </center>

</nav>