
  <!-- Sidebar/menu -->
<nav    class="w3-sidebar w3-collapse w3-animate-left w3-center" 
        style="z-index:3;width:250px;" id="leftNav">
<a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity w3-hover-black leftNavItem">
    <i class="fa fa-home w3-xxxlarge leftNavIcon"></i>
    <p>TENANTS</p>
  </a>
<a  onclick="document.getElementById('appSettingsModal').style.display='block'"
	    class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-cog w3-xxlarge leftNavIcon"></i>
      <p>SETTINGS</p>
  </a>
  {{>appSettingsModal}}
  <hr  class="w3-bar-item"/>

  <h2>Groups</h2>
  <a  ID="manageUsersBtn" onclick="document.getElementById('userGroupsModal').style.display='block'" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black ">
    <i class="fa fa-users w3-xxlarge leftNavIcon"></i>
    <p>CREATE</p>
  </a>
  {{> userMgtModal}}

  <a  href="#userMgtSection" 
    class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
    <i class="fa fa-eye w3-xxlarge leftNavIcon"></i>
    <p>SELECTED</p>
  </a>

  
  {{>leftNav/userGroupList}}  
  <center>
    <div id="loadingIndicator" style="display:none">
    <p>loading</p>
    <div class="loader"></div>
    </div>
  </center>

</nav>