<hr  class="w3-bar-item"/>
  <div id='userGroupNames' class="w3-left-align" style='padding-left:15px'>
    <table id='leftNavUserGroupList'>
      <thead>
      <tr>
        <th>Defined User Groups</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table> 
	</div>
  <hr  class="w3-bar-item"/>
